* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dirDown {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.navbar {
  background-color: sandybrown;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  min-height: 3rem;
  width: 100%;
  z-index: 5;
}

.nb-comp {
  flex: 3;
  flex-flow: row wrap;
  min-width: 200px;

  font-size: 0.9rem;
}
.landing {
  height: calc(100vh - 3rem);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}
.Carousel {
  display: flex;
  flex: 4;
  background-color: red;
}

.filler {
  flex: 1;
  background-color: green;
  color: white;
  font-size: 1rem;
}

.split {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem 0;
}

.split div {
  flex: 1;
}
.infoCenter div {
  padding: 3rem 1rem;
  flex-flow: column wrap;
  min-width: 250px;
  background-color: peru;
  color: "white";
}
.infoCenter img {
  width: 100%;
  object-fit: cover;
  min-height: 200px;
  max-height: 512px;
  min-width: 320px;
}
.infoCenter div p {
  max-width: 300px;
}
.innerContainer {
  padding: 1rem 0;
  display: flex;
  width: 100%;
}
.innerContainer h2 {
  font-size: 1.2rem;
  padding: 0 0 0.3rem 1rem;
  justify-self: center;
}
.products {
  justify-content: space-around;
}
.product {
  flex-wrap: nowrap;
  width: 20%;
  min-width: 200px;
  max-width: 250px;
  padding: 0.3rem 0.3rem;
}
.product img {
  flex: 6;
  width: 100%;
  object-fit: cover;
  min-height: 220px;
}
.productName {
  flex: 1;
  padding: 0.3rem;
  background-color: peru;
}
.contact {
  padding: 0.3rem;
  justify-content: center;
}

.contact #logo {
  width: 100%;
  object-fit: contain;
  max-width: 3rem;
  min-width: 1.5rem;
  max-height: 1.4rem;
}

.icon {
  width: 100%;
  object-fit: contain;
  max-width: 3rem;
  min-width: 1.5rem;
  max-height: 1.4rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a:link,
a:visited {
  text-decoration: inherit;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .navbar #logo {
    order:2;
  }
  .navbar #social {
  order:3;
  }
  .navbar #links {
order:1;
  }
}